name: Commit Stage - Build Artifact

on:
  workflow_call:
    inputs:
      artifact:
        required: true
        type: string
      version:
        required: true
        type: string
    outputs:
      artifact:
        description: The Name Of The Artifact
        value: ${{ jobs.build.outputs.artifact }}
      version:
        description: The Version Of The Build Artifact
        value: ${{ jobs.build.outputs.version }}

jobs:
  build:
    name: Build Artifact
    runs-on: ubuntu-22.04

    env:
      VITE_RELEASE: ${{ inputs.version }}

    outputs:
      artifact: ${{ steps.output.outputs.artifact }}
      version: ${{ steps.output.outputs.version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Up Node
        uses: actions/setup-node@v4
        with:
          cache: npm

      - name: Install
        run: npm ci --force

      - name: Build
        run: npm run build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.artifact }}
          path: dist
          if-no-files-found: error
          retention-days: 5

      - name: Output Artifact Name
        id: output
        run: |
          echo "artifact=${{ inputs.artifact }}" >> $GITHUB_OUTPUT
          echo "version=${{ inputs.version }}" >> $GITHUB_OUTPUT
